*{
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
}
#hero{
    width: 100%;
    height: 100vh;
    background-color: black;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 33px 39px;
    color:white;
    font-weight: bold;
}
#nav a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

#nav h5{
    font-size: 15.5px;
    font-weight: bold;
}
#heading{
    margin-top: 96px;
}
#heading h1{
    /* font-family: "General Sans Medium"; */
    color: white;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: .6;    
    margin-left: 40px;
    line-height: .9;
}
#heading #secondh1{
    margin-left: 185px;
}
.blocktext{
    width:fit-content;
    /* background-color: red; */
}
.blocktext h5{
    color: white;
    text-transform: uppercase;
    font-size: 1vw;
    text-align: right;  /*important*/
    line-height: 3;
}

#smallheading{
    color: white;
    text-transform: uppercase;
    font-size: 1.4vw;
    margin-top: 6vw;
    text-align: right;
    margin-right: 38px;
    line-height: 2.1;
}

#herofooter{
    padding: 0 3vw;
    width: 100%;
    position: absolute;
    bottom: 1%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#herofooter a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    
}
#herofooter #iconset{
    display: flex;
    gap: 3px;
}
#herofooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
    font-weight: bold;
}
#second{
    color: white;
    padding-right: 10vw;
    padding-top: 150px;
    background-color: black;
    width: 100%;
    height: 100vh;  
}

.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;

}
.elem h1{
    text-transform: uppercase;
    font-size: 7.5vw;
    opacity: 0.7;
}
.elemlast{
    border-bottom: 1px solid #888;
}

.elem img{
    display: none;
    height: 140%;
    position: absolute;
}

#about{
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 25vw 10vw;
    padding-left: 30vw ;
    padding-top: 1;
    width: 100%;
    background-color: black;
    color: white;
}

#about img{
    width: 200px;
}
#about a{
    color: white;
    border: 1px solid white;
    border-radius: 30%;
}
#textabout{
    width: 25rem;
}
#textabout h5{
    text-transform: uppercase;
    opacity: .7;
    margin-bottom: 10px;
}
#textabout p{
    line-height: 1.6;
    margin-bottom: 20px;
}
#textabout a{
    padding: 7px 18px;
    border: 1px solid white;
    border-radius: 100px;
    text-decoration: none;
}
#subscribe{
    color: white;
    padding:10px 40px;
    background-color: black;
    padding-bottom: 10vw;
}

#subscribe h5{
    color: white;
    opacity: .7;
    text-transform: uppercase;
    line-height: 2.9;
}
#subscribe a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}
#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px 38px;
    margin-bottom: 15px;
}
#footerleft{
    display: flex;
    gap: 30px;
    color: white;
}
#footerright{
    display: flex;
    gap: 50px;
}
#footerright a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}