*{
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
}
#hero{
    width: 100%;
    height: 100vh;
    background-color: black;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 33px 39px;
    color:white;
    font-weight: bold;
}
#nav a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

#nav h5{
    font-size: 15.5px;
    font-weight: bold;
}
#heading{
    margin-top: 96px;
}
#heading h1{
    /* font-family: "General Sans Medium"; */
    color: white;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: .6;    
    margin-left: 40px;
    line-height: .9;
}
#heading #secondh1{
    margin-left: 185px;
}
.blocktext{
    width:fit-content;
    /* background-color: red; */
}
.blocktext h5{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    text-align: right;
    line-height: 3;
}

#smallheading{
    color: white;
    text-transform: uppercase;
    font-size: 1.4vw;
    margin-top: 6.5vw;
    text-align: right;
    margin-right: 38px;
    line-height: 2.1;
}